@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15 23 42;
  --background-rgb: 248 250 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 248 250 252;
    --background-rgb: 15 23 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
